/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
 p {
}

/**
 * Blockquote base styles
 */
blockquote {
    font-style:italic;
    border-left: 1px solid var(--color-neutral-gray-50);
    color: var(--color-neutral-gray-50);
	padding-left: var(--space-4);
}

/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 1px;
    width: 100%;
    background:var(--color-neutral-gray-13);
    margin: var(--space-6) 0;
}

/**
 * Selection styles
 */
::-moz-selection {
	color: var(--color-text-highlight);
	background: var(--color-text-highlight-bg); /* Gecko Browsers */
}

::selection {
	color: var(--color-text-highlight);
	background: var(--color-text-highlight-bg); /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */
code {
	display: inline-block;
    background-color: #272525;
	border-radius: var(--border-radius-md);
	padding: var(--space-1) var(--space-2-5);
    line-height: 1.2;
    font-size: var(--text-sm);

    @include large-up {
        font-size: var(--text-xs);
    }
}

p {
    code {
        background-color: var(--color-brand-tertiary-emphasis);
        color: var(--color-brand-tertiary);
    }
}

/**
 * Preformatted text base styles
 */
pre {
	// background: var(--color-neutral-gray-02);
    background-color: #272525;
    overflow-x: auto;
    margin-bottom: 0;

	/**
	 * Remove border from code within preformatted text block
	 */
	code {
		border: 0;
	}
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */
code[class*="language-"],
pre[class*="language-"] {
    font-family:monospace !important;
}
