{{!< default}}

<div class="">
    <div class="l-container">

        <div class="">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
