{{!< default}}

{{#post}}

<article class="{{post_class}}">

    {{> "organisms/postHeader"}}

    <section class="post__section mt-6 l-grid">
        {{content}}
    </section>

    {{#is "post"}}
        {{> "organisms/postFooter"}}
    {{/is}}
</article>

{{> "organisms/morePosts"}}

{{/post}}
