{{#if website}}
    <div class="social">
        <a href="{{website}}" target="_blank" rel="noopener">
            <i class="fas fa-globe"></i>
            Website
        </a>
    </div>
{{/if}}
{{#if twitter}}
    <div class="social">
        <a href="{{twitter_url}}" target="_blank" rel="noopener">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </div>
{{/if}}
{{#if facebook}}
    <div class="social">
        <a href="{{facebook_url}}" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f"></i>
            Facebook
        </a>
    </div>
{{/if}}