:root {
    /*------------------------------------*\
    #COLORS
    \*------------------------------------*/

    /**
    * Brand Colors
    * 1) Brand=specific colors
    */
    --color-brand-blue: #114689;
    --color-brand-blue-dark: #041544;
    --color-brand-orange: #ba6333;
    --color-brand-green: #239c71;
    --color-brand-red: #9c234e;

    --color-brand-green-3f: #{--color-brand-green}3f;
    --color-brand-red-3f: #{--color-brand-red}3f;

    /**
    * Neutral Colors
    * 1) Neutral colors are grayscale values used throughout the UI
    */
    --color-neutral-white: #fff;
    --color-neutral-gray-02: #f9f9f9;
    --color-neutral-gray-07: #eee;
    --color-neutral-gray-13: #ddd;
    --color-neutral-gray-27: #bbb;
    --color-neutral-gray-34: hsla(0, 0%, 66%, 1);
    --color-neutral-gray-50: #808080;
    --color-neutral-gray-60: #666;
    --color-neutral-gray-73: #444;
    --color-neutral-gray-93: #131313;
    --color-neutral-black: #000;

    .c-gray-50 {
        color: var(--color-neutral-gray-50);
    }

    .c-gray-73 {
        color: var(--color-neutral-gray-73);
    }

    /**
    * Utility Colors
    * 1) Utility colors are colors used to provide feedback, such as alert messages,
    *    form validation, etc.
    */
    --color-utility-info: #0192d0;
    --color-utility-info-light: #d3f2ff;
    --color-utility-error: #b12a0b;
    --color-utility-error-light: #fdded8;
    --color-utility-success: #03804d;
    --color-utility-success-light: #d4f3e6;
    --color-utility-warning: #a59b15;
    --color-utility-warning-light: #fffecf;

    /*------------------------------------*\
    #GLOBAL TEXT COLOR
    \*------------------------------------*/

    /**
    * Body text and background colors
    */
    --color-body-text: var(--color-neutral-gray-93);
    --color-body-bg: var(--color-neutral-gray-02);

    /**
    * Highlight colors
    */
    --color-text-highlight: var(--color-neutral-gray-93);
    --color-text-highlight-bg: var(--color-neutral-gray-13);

    /*------------------------------------*\
    #LINKS
    \*------------------------------------*/

    --color-links: var(--color-neutral-gray-73);
    --color-links-hover: var(--color-brand-red);
    --color-links-active: var(--color-neutral-gray-93);
    --color-links-visited: var(--color-neutral-gray-93);

    /*------------------------------------*\
    #BUTTONS
    \*------------------------------------*/

    --color-btn-primary: var(--color-neutral-white);
    --color-btn-primary-bg: var(--color-neutral-gray-93);
    --color-btn-primary-bg-hover: var(--color-neutral-gray-50);
    --color-btn-primary-border: var(--color-neutral-gray-93);

    --color-btn-secondary: var(--color-neutral-gray-93);
    --color-btn-secondary-bg: var(--color-neutral-white);
    --color-btn-secondary-bg-hover: var(--color-neutral-gray-07);
    --color-btn-secondary-border: var(--color-neutral-gray-93);

    --color-btn-disabled: var(--color-neutral-gray-50);
    --color-btn-disabled-bg: var(--color-neutral-gray-07);

    /*------------------------------------*\
    #FORMS
    \*------------------------------------*/

    --color-form: var(--color-neutral-gray-93);
    --color-form-bg: var(--color-neutral-white);
    --color-form-border: var(--color-neutral-gray-73);
    --color-form-border-focus: var(--color-neutral-gray-93);
    --color-form-border-error: var(--color-utility-error);
    --color-form-label: var(--color-neutral-gray-93);
    --color-form-info: var(--color-neutral-gray-73);
    --color-form-placeholder: var(--color-neutral-gray-50);
}
