/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$font-family-primary: "Nunito", "Raleway", "HelveticaNeue", "Helvetica", "Arial",
    sans-serif;
$font-family-secondary:  "Montserrat", "Abel", serif;
$fa-font-path: "../built/fontawesome/webfonts" !default;

/**
  * Font Sizing
  */
$font-size-xs: 0.75rem;
$font-size-sm: 0.85rem;
$font-size-med: 1rem;
$font-size-med-2: 1.2rem;
$font-size-large: 1.5rem;
$font-size-large-2: 1.875rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

/**
  * Line Height
  */
$line-height-xs: 0.8;
$line-height-sm: 0.9;
$line-height-med: 1;
$line-height-med-2: 1.2;
$line-height-large: 1.4;
$line-height-large-2: 1.6;
$line-height-xl: 1.8;

/**
 * In this file, we take the literal font sizes from our scale and define them
 * against variables that we can utilise anywhere throughout the project.
 */

$body-font-size: $font-size-med;

/**
 * Font-size html classes for single use
 */
.text-xs {
    font-size: $font-size-xs;
    line-height: $line-height-large;
}

.text-sm {
    font-size: $font-size-sm;
    line-height: $line-height-med;
}

.text-med {
    font-size: $font-size-med;
    line-height: $line-height-med;
}

.text-med2 {
    font-size: $font-size-med-2;
    line-height: $line-height-med-2;
}

.text-l {
    font-size: $font-size-large;
    line-height: $line-height-large;
}

.text-xl {
    font-size: $font-size-xl;
    line-height: $line-height-large-2;
}

.text-xxl {
    font-size: $font-size-xxl;
    line-height: $line-height-xl;
}
