:root {
    --spacing-base: 1em;
    --spacing-small: calc(var(--spacing-base) * 0.625);

    --border-radius-small: 6px;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$l-max-width: 80rem !default;
$l-max-width-narrow: 45rem !default;
$l-linelength-width: 36rem !default;
$navigation-height: 3.25rem !default;
 /*------------------------------------*\
     #SPACING
     1)
 \*------------------------------------*/

$spacing: 1rem;
$spacing-small: round(0.5 * $spacing);
$spacing-large: round(2 * $spacing);

// m-6 from tailwind
$m-6: 1.5rem;

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
$border-thickness: 1px;
$border-thickness-medium: 4px;
$border-radius: var(--border-radius-small);

$border-divider-thickness: 1px;
$border-divider: $border-divider-thickness solid $color-neutral-gray-13;

$border-divider-brand-small: $border-thickness solid $color-brand-red;
$border-divider-brand: $border-thickness-medium solid $color-brand-red;
$border-brand-secondary: $border-thickness-medium solid $color-brand-red;

$box-shadow-nav: 0 2px 5px 1px $color-neutral-gray-50;
$box-shadow-widget: 0 1px 4px 0px $color-neutral-gray-50;
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.5s;

$anim-ease: ease-out;

$anim-cubic-bezier: cubic-bezier(0.165, 0.84, 0.44, 1);

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$bp-small: 32rem;
$bp-small-2: 48rem;
$bp-med: 64rem;
$bp-large: 80rem;
$bp-xl: 90rem;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "(orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{$bp-small}" !default;

$small-up: "#{$screen} and (min-width: #{$bp-small})" !default;
$small-only: "#{$screen} and (min-width:#{$bp-small}) and (max-width: #{$bp-small-2})" !default;
$small-down: "#{$screen} and (max-width: calc(#{$bp-small-2} - 1px))" !default;


$medium-up: "#{$screen} and (min-width: #{$bp-med})" !default;
$medium-only: "#{$screen} and (min-width: #{$bp-small-2}) and (max-width: #{$bp-med})" !default;
$medium-down: "#{$screen} and (max-width: calc(#{$bp-large} - 1px))" !default;

$large-up: "#{$screen} and (min-width: #{$bp-large})" !default;
$large-only: "#{$screen} and (min-width: #{$bp-med}) and (max-width: #{$bp-large})" !default;
$large-down: "#{$screen} and (max-width: calc(#{$bp-xl} - 1px))" !default;

$xlarge-only: "#{$screen} and (min-width: min-width: #{$bp-large}) and (max-width: #{$bp-xl})" !default;
$xlarge-down: "#{$screen} and (max-width: #{$bp-xl})" !default;
