:root {
    --spacing-base: 1em;
    --spacing-small: calc(var(--spacing-base) * 0.625);

    /* #### BORDER-RADIUS #### */
    --border-radius-sm: 4px;
    --border-radius-md: 10px;
    --border-radius-full: 50px;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
$l-max-width: 80rem !default;
$l-max-width-narrow: 45rem !default;
$l-linelength-width: 36rem !default;
$navigation-height: 3.25rem !default;
 /*------------------------------------*\
     #SPACING
     1)
 \*------------------------------------*/

$spacing: 1rem;
$spacing-small: round(0.5 * $spacing);
$spacing-large: round(2 * $spacing);

// m-6 from tailwind
$m-6: 1.5rem;

/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
$border-thickness: 2px;
$border-thickness-medium: 4px;
$border-radius: var(--border-radius-sm);

$border-divider-thickness: 1px;
$border-divider: $border-divider-thickness solid var(--color-neutral-gray-13);

$border-divider-brand-small: $border-thickness solid var(--color-brand-red);
$border-divider-brand: $border-thickness-medium solid var(--color-brand-red);
$border-brand-secondary: $border-thickness-medium solid var(--color-brand-red);

$border-button-light: $border-thickness solid var(--color-button, var(--color-brand-red));

$box-shadow-nav: 0 2px 5px 1px var(--color-neutral-gray-50);
$box-shadow-widget: 0 1px 4px 0px var(--color-neutral-gray-50);
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.5s;

$anim-ease: ease-out;

$anim-cubic-bezier: cubic-bezier(0.165, 0.84, 0.44, 1);

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$bp-xsm: 32rem;
$bp-sm: 48rem;
$bp-md: 64rem;
$bp-lg: 80rem;
$bp-xl: 90rem;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "(orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{$bp-xsm})" !default;

$small-up: "#{$screen} and (min-width: #{$bp-xsm})" !default;
$small-only: "#{$screen} and (min-width:#{$bp-xsm}) and (max-width: #{$bp-sm})" !default;
$small-down: "#{$screen} and (max-width: calc(#{$bp-sm} - 0.01rem))" !default;


$medium-up: "#{$screen} and (min-width: #{$bp-sm})" !default;
$medium-only: "#{$screen} and (min-width: #{$bp-sm}) and (max-width: #{$bp-md})" !default;
$medium-down: "#{$screen} and (max-width: calc(#{$bp-md} - 0.01rem))" !default;

$large-up: "#{$screen} and (min-width: calc(#{$bp-md}))" !default;
$large-only: "#{$screen} and (min-width: #{$bp-md}) and (max-width: #{$bp-lg})" !default;
$large-down: "#{$screen} and (max-width: calc(#{$bp-lg} - 0.01rem))" !default;

$xlarge-up: "#{$screen} and (min-width: calc(#{$bp-lg}))" !default;
$xlarge-only: "#{$screen} and (min-width: #{$bp-lg}) and (max-width: #{$bp-xl})" !default;
$xlarge-down: "#{$screen} and (max-width: #{$bp-xl})" !default;
