.menu {
    &__toggle {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 11;

        @include large-up {
            display: none;
        }

        .navigation-open & {
            position: fixed;
            right: 4vw;
        }

        span {
            background-color: $color-neutral-gray-50;
            width: 1.25rem;
            height: 2px;
            margin-top: 2px;
            transition: all $anim-cubic-bezier $anim-fade-long;
            display: block;

            .navigation-open & {
                margin-top: 0;
                position: relative;

                &:first-child {
                    transform: translate(-1px, 3px) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translate(-1px, -1px) rotate(-45deg);
                }
            }
        }
    }

    &__overlay {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: black;
        opacity: 0.2;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.navigation {
    &__tags {
        h5 {
            color: $color-neutral-gray-73
        }
    }

    &--mobile {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        width: 69%;
        height: 100%;
        box-shadow: $box-shadow;
        transform: translateX(100%);
        transition: all $anim-cubic-bezier $anim-fade-long;
        z-index: 10;
        padding: 2em 1em;

        .navigation__item {
            margin-top: 0.25rem;
        }

        .navigation-open & {
            visibility: visible;
            transform: translateX(0);
        }
    }
}
