#main-navigation {
    height: var(--navigation-height);
    border-bottom: var(--border-brand-primary);

    .navigation {
        height: calc(var(--navigation-height) - var(--border-thickness-bold));
    }
}
