.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        margin-right: auto;

        img {
            height: $navigation-height;
        }
    }

    &__social {
        margin-left: auto;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}

#main-navigation {
    height: $navigation-height;
    box-shadow: 0 2px 5px 1px $color-neutral-gray-50;
}

.post-navigation {
    display: flex;
    justify-content: space-between;
}
