.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        margin-right: auto;

        img {
            height: $navigation-height;
        }
    }

    &__item {
        @include large-up {
            display: inline-block;
        }

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    &__list {
        font-family: $font-family-secondary;
    }

    &__wrapper {
        ul {
            display: none;
        }

        @include large-up {
            ul {
                display: block;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    --navigation-arrow-spacing: 1.5em;

    a {
        display: block;
    }

    @include large-up {
        margin-left: 6rem;
        margin-right: 6rem;
    }

    @include xlarge-up {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    &__item {
        position: relative;
        max-width: 50%;
        flex: 1;

        a:hover {
            &.pagination--previous {
                i {
                    left: -0.325em;
                }
            }

            &.pagination--next {
                i {
                    right: -0.325em;
                }
            }
        }
    }


    i {
        position: absolute;
        transition: all $anim-ease $anim-fade-quick;
    }

    &__title {
        height: 100%;
        display: flex;
        align-items: center;
        line-height: 1.1; // [VARIABLE]
    }

    &--previous {
        i {
            left: 0;
        }

        .pagination__title {
            margin-left: var(--navigation-arrow-spacing);
            justify-content: flex-start;
        }
    }

    &--next {
        i {
            right: 0;
        }

        .pagination__title {
            margin-right: var(--navigation-arrow-spacing);
            justify-content: flex-end;
            text-align: right;
        }
    }

}

.post-navigation {
    display: flex;
    justify-content: space-between;
}
