.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        margin-right: auto;

        img {
            height: $navigation-height;
        }
    }

    &__social {
        margin-left: auto;
    }

    &__item {
        @include large-up {
            display: inline-block;
        }

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__list {
        font-family: $font-family-secondary;
    }

    &__wrapper {

        @include medium-down {
            ul {display: none;}
        }
    }
}

.post-navigation {
    display: flex;
    justify-content: space-between;
}

