<footer id="main-footer" class="main-footer l-grid">
    <div class="main-footer__inner l-grid--wide">
        <section class="main-footer__copyright text-sm">
            <a href="{{@site.url}}">{{@site.title}} &copy; {{date format="YYYY"}}</a>
            <div class="mt-1">
                <a href="https://ghost.org/" target="_blank" rel="noopener">
                    Powered by Ghost
                </a>
            </div>
        </section>
        <nav class="main-footer__navigation">
            {{navigation type="secondary"}}
        </nav>

    </div>
</footer>