<header id="main-navigation" class="u-shadow--nav l-grid mb-7">
    <nav class="l-grid--wide navigation">
        <div class="navigation__logo font-extrabold">
            {{> "atoms/logo"}}
        </div>
        <div class="navigation__wrapper">
            {{navigation}}
        </div>
        <div class="navigation__social">
            {{> "atoms/social"}}
            <span class="fas js-dark-mode__toggle">

            </span>
        </div>

        {{> "molecules/mobileNav"}}
    </nav>
</header>


<script>
    document.querySelector('.js-dark-mode__toggle').addEventListener('click', () => {

        if (document.documentElement.dataset.theme === 'dark') {
            document.documentElement.dataset.theme = 'light';
        }
        else if (document.documentElement.dataset.theme === 'light') {
            document.documentElement.dataset.theme = 'dark';
        }

        window.localStorage.setItem('theme', document.documentElement.dataset.theme);
    });
</script>