<header id="main-navigation" class="u-shadow--nav l-grid">
    <nav class="l-grid--wide navigation">
        <div class="navigation__logo font-extrabold">
            {{> "atoms/logo"}}
        </div>
        <div class="navigation__wrapper">
            {{navigation}}
        </div>
        <div class="navigation__social">
            {{> "atoms/social"}}
        </div>

        <div class="ml-2.5 u-flex js-initial-hidden">
            <label class="far toggleSwitch" for="darkModeToggle">
                <input type="checkbox" id="darkModeToggle" class="toggleSwitch__checkbox" />
                <div class="toggleSwitch__slider"></div>
            </label>
        </div>
        {{> "molecules/mobileNav"}}
    </nav>
</header>
