<aside class="widgets">
    <div class="u-sticky pt-8">
        <div class="recent px-10">
            {{> "molecules/recent"}}
        </div>
        <div class="tags px-10 pt-7">
            {{> "molecules/tags"}}
        </div>
    </div>
</aside>