<header id="main-navigation" class="l-grid mb-7">
    <nav class="l-grid--wide navigation">
        <div class="navigation__logo font-extrabold">
            {{> "atoms/logo"}}
        </div>
        <div class="navigation__wrapper">
            {{navigation}}
        </div>
        <div class="navigation__social">
            {{> "atoms/social"}}
        </div>

        {{> "molecules/mobileNav"}}
    </nav>
</header>