<div class="menu__toggle">
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
</div>

<div class="navigation--mobile">
    {{navigation}}
    <div class="navigation__tags mt-5">
        {{> "molecules/tags"}}
    </div>
    <div class="navigation__recent mt-5">
        {{> "molecules/recent"}}
    </div>
</div>
<div class="menu__overlay u-hidden"></div>
