<div class="menu-toggle">
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
    <span class="menu-toggle__line"></span>
</div>

<div class="navigation--mobile">

    {{navigation}}
    {{#get "tags" limit="all" include="count.posts"}}
        <div class="navigation__tags">
            {{#foreach tags}}
                <div class="tag">
                    <a class="tag-link" href="{{url}}">
                        <span class="tag-name">{{name}}</span>
                        <span class="tag-count">{{count.posts}}</span>
                    </a>
                </div>
            {{/foreach}}
        </div>
    {{/get}}
    </div>
</div>

