{{!
Re-usable card for linking to posts
}}

<article class="post-card {{post_class}}">
    {{#unless hide_media}}
        <div class="post-card__media mb-4">
            {{> "molecules/postCardMedia"}}
        </div>
    {{/unless}}
    <div class="post-card__content ">
        {{> "molecules/postCardHeader"}}

        {{> "molecules/postCardFooter"}}
    </div>
</article>
