<div class="u-shadow--widget p-5">
    <h4 class="uppercase text-sm c-gray-73 font-bold">Recent Posts</h4>
    {{#get "posts" limit="3" as |recents|}}
        {{#if recents}}
            <div class="recent__posts mt-4">
                {{#foreach recents}}
                    <article class="recent__article">
                        {{> "molecules/postCardHeader" hide_excerpt=true }}
                    </article>
                {{/foreach}}
            </div>
        {{/if}}
    {{/get}}
</div>