<div class="u-shadow p-5">
    {{#get "tags" limit="all" include="count.posts"}}
        <h4 class="uppercase text-sm font-bold c-gray-73">Tags</h4>
        <ul class="tag mt-4 dashed-list-style">
            {{#foreach tags}}
                <li class="tag__item">
                    <a class="tag__link" href="{{url}}">
                        <span class="tag__name">{{name}}</span>
                        <span class="tag__count text-xs">{{count.posts}}</span>
                    </a>
                </li>
            {{/foreach}}
        </ul>
    {{/get}}
</div>