.post-card {
    display: flex;
    flex-direction: column;

    &__linkWrapper {
        flex-grow: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__meta {
        display: flex;

        .static-avatar {
            display: block;
            width: 36px;
            height: 36px;
        }
    }

    &__bylineContent {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        line-height: $line-height-large;
    }
}
