/* Cards
/* ---------------------------------------------------------- */
.gh-content {
    :not(.kg-card):not([id]) + .kg-card {
        margin-top: 6vmin;
    }
    .kg-card + :not(.kg-card) {
        margin-top: 6vmin;
    }
}

.kg-card {
    figcaption {
        
    padding: 1.5rem 1.5rem 0;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.4em;
        strong {
            color: rgba(0,0,0,0.8);
        }
    }
}

.gh-canvas {
    :not(pre) code {
        vertical-align: middle;
        padding: 0.15em 0.4em 0.15em;
        border: #e1eaef 1px solid;
        font-weight: 400 !important;
        font-size: 0.9em;
        line-height: 1em;
        color: #dc0050;
        background: #f0f6f9;
        border-radius: 0.25em;
    }

    > pre {
        overflow: scroll;
        padding: 16px 20px;
        background: rgba(255,255,255,0.8);
        border-radius: 5px;
        box-shadow: 0 2px 6px -2px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.4);
    
    }
}
